/* .dropdown-item:focus, .dropdown-item:hover */
body {
    background-image: url("Artboard 2.png");
    background-color: #F5FEFF;
    color: #08091C;
    font-family: 'Open Sans', sans-serif;
 
}

h2 {
    font-size: 33.2;
    font-weight: 500;
}

h4 {
   
    font-size: 21.3;
    font-weight: 200;
}

p {
    font-size: 17px;
    font-weight: 200;
}
.customNav{
    position:fixed;
    width: 100%;
    background-color: #5A64B3 !important;
    
    z-index: 10;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}
.bg-primary{
    font-size: 20px;
    font-weight: 200;
}
.navbar-brand img{
    padding-right: 15px;
    width: 65px;
}
.nav-item{
    margin: 0px 15px;
    
}
.dropdown-menu{
    background-color:#F5F4EF;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #F5F4EF !important;;
    text-decoration: none;
    background: #002140;
}
.customNav a {
    color: #001629;
}
.navCTA{
    font-size: 15px;
}

.eye-popper{
    margin-left:  5%;
    margin-right: 5%;
}













@media screen and (max-width: 600px) {
    .display {
        font-size: 56px;
       
    }

   
}