/* .dropdown-item:focus, .dropdown-item:hover */
body {
    background-color: #F5F4EF;
    color: #001629;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 0px;
}

h2 {
    font-size: 33.2;
    font-weight: 500;
}

h4 {
   
    font-size: 21.3;
    font-weight: 200;
}

p {
    font-size: 17px;
    font-weight: 200;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #181E3F;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    height: 75px;
    
}

.logo {
    display: flex;
    align-items: baseline;
    width: 100px;
}

.right {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    align-items: center;
    width: 93%;
}

a {
    margin-right: 5%;
}

.resume a {
    margin-right: 2%;
}



.darkmode {
    color: #4152A5;
    border: 3px solid #4152A5;
    background-color: #F5F4EF;
}



.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 25px;
    margin-right: inherit;
    
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.display {
    font-family: paralucent, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
}


.center p {
    text-align:center;
    font-weight: 100;
    font-size: 27px;
}
.btn {
    position: relative;
    border-radius: 100px;
    border: 3px solid #181E3F;
    background-color: #4152A5;
    box-shadow: 4px 5px 0px #181E3F;
    color: #F5F4EF;
    padding: 15px;
    font-weight: 600;
    width: 160px;
    height: 44px; 
    text-align: center;
    line-height: 44px;
    font-size: 25px;
    overflow: hidden;

}
.space-out{
  display:flex;
  justify-content:space-evenly;
  padding-top: 5%;
}
.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content: ' ';
    position:absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height:0px;
    background:#f5f4ef;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}
.btn:hover{
    color:#002140;
}
.btn:hover::before{
    width: 400px;
    height:400px; 
    
}


.pfp {
    display:flex;

    width: 90%;
    height: auto;
    /*margin-right: 125px;

    justify-content: flex-end;
    width: 100px;*/
}

.marquee p{
    /*list-style-type: none;*/
    background-color: #4152A5;
    border-bottom: 5px solid #181e3f;
    color: #F5F4EF;
    font-size: 35px;
    font-weight: 100;
    height: 75px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
  
    
}
.tools{
    /*justify-content:space-evenly;
    overflow-x: auto; */  
    position: relative;
        width: 100%;
        display: flex;
    
}
.tools> *{
    white-space:nowrap;
    padding: 0 1rem;
}



.RW {
    margin-left: 50px;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.work_scroll {
    border: 2px solid red;
    display: flex; 
    /* display:inline-flex fixes the card size
     but makes the card move off the screen
    might want to use bootstrap */
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
    height: 735px;
    padding-top: 0px;
    padding-left: 300px;
    

}

.scroll-card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 200px;
    background-image: url(/images/poppyPattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 600px;
    height: 700px;
    background-color: #F5F4EF;
    border: 4px solid #181e3f;
    border-radius: 50px;
    box-shadow: 10px 10px 0px #181E3F;

}


/*.secondary_flow img {
    max-height: 300px;
    padding-right: 200px;
    padding-left: 200px;
}  the cellphone immage is so funky. might need this code*/



.flow_text {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    z-index: 1;
    background-color: #F5F4EF;
    height: 200px;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 3px solid #181E3F;
    border-radius: 0px 0px 50px 50px;
}
.flow_img{
    border: 2px solid red;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 600px;
    height: 480px;
    margin: auto;

}
/*.flow_img img{
    width: 500px;
    height: auto;
}*/

.learn_more {
    position: absolute;
    z-index: 1;
    left: 400px;
    bottom: 20px;
    margin: auto;
    height: 28px;
    width: 145px;
    text-align: center;
    line-height: 28px;
    font-size: 25px;
    font-weight: 200;

}


.span_h2 {
    padding: 10px;
    margin: 0px;
    font-size: 40px;
    font-weight: 300;
}

.span_h4 {
    padding: 0px 10px 10px 10px;
    margin: 0px;
    
    font-size: 25px;
    font-weight: 200;
    color: rgb(24, 30, 63, 50%);

}



.footer {
    position: relative;
    background-color: #4152A5;
    color: #F5F4EF;
    height: 462px;
}

.upperline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 5%;
    margin-top: 10%;
    padding-top: 20px;
    height: 75px;
    border-bottom: 2px solid #F5F4EF;

}

.links {
    display: flex;
    justify-content: space-around;
}

.links a {
    padding-right: 15%;
    font-size: 25px;
}

.lower_line {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-top: 20px;
    height: 200px;
   
}

.about_me,
.connection,
.banner {
    display: flex;
}

.about_me {
    margin-bottom: 20px;
    font-size: 22px;
    max-width: 50%;
}

.connection {
    margin-bottom: -15px;
}
.view_work{
    position: absolute;
    left: 76%;
    bottom: 40%;
    height: 44px;
    width: 160px;
    text-align: center;
    line-height: 44px;
    font-size: 25px;
    background-color: #F5F4EF;
    color: #181e3f;
}


/* .github .linkedin img{
    width: 40px;
     height: 40px;
}
*/

@media screen and (max-width: 600px) {
    .display {
        font-size: 56px;
       
    }

    .marquee {
        height: 50px;
        border-bottom: 2px solid #181e3f;
        overflow-x:auto;
        width: 100vw;
    }
.scroll-card{
    width:400px;
    margin-right: 100px;
}
    .work_scroll {
        padding-left: 70px;
        overflow-x: auto;
        width: 100vw;
    }
  
}